.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search input {
  width: 40vw;
  height: 3vh;
  margin: 20px;
  font-size: 24px;
}

.check input {
  margin: 10px;
  width: 2vw;
  height: 2vh;
}
.search label,
.check label {
  font-size: 1.5em;
}
.heading {
  font-size: 1.5em;
}
.product-table table {
  width: 50%;
  margin: auto;
  font-size: 2em;
  padding-top: 50px;
}
tr th {
  background-color: #e7ecef;
}
.product-table table td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}
